@mixin flexColumn(){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container{
  @include flexColumn();
  margin-top: 100px;
  background-color: rgb(119, 194, 119);
  width: 50%;
  margin-left: 25%;
  padding: 6px;
  border-radius: 12px;

  h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  label{
    font-size: 1rem;
  }

  .error-message{
    margin-top: 30px;
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
  }

  form{
    @include flexColumn();

    .container-login{
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-top: 30px;

      input{
        text-align: center;
        padding: 3px;
        font-size: 1rem;
        border: 1px solid;
      }
    }

    button{
      margin-top: 35px;
    }
  }
}
