.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .container-login{
    margin-top: 20px;

    label{
      font-size: 1.2rem;
    }

    input{
      text-align: center;
      padding: 3px;
      border-radius: 20px;
      font-size: 1.1rem;
      border: 1px solid;
    }
  }

  button{
    margin-top: 30px;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 1px solid;

    &:hover{
      transform: scale(1.08);
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
      background-color: blue;
    }

    &:active{
      opacity: 70%;
      background-color: green;
    }
  }
}
