<section class="main-container">

  <h3>Hello teacher!Insert your dates bellow to obtain acess to the system</h3>

  <form (ngSubmit)="onLogin()">

    <div class="container-login">
      <label for="name">Enter your name: </label>
      <input type="text" placeholder="Your name here" required [(ngModel)]="name" name="username">
    </div>

    <div class="container-login">
      <label for="password">Enter your password: </label>
      <input type="password" placeholder="Your password here" required [(ngModel)]="password" name="password">
    </div>

    <button type="submit">Make Login</button>

  </form>

  <label *ngIf="errorMessage" class="error-message">{{ errorMessage }}</label>

</section>
