@mixin flexColumn(){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container{
  @include flexColumn();
  margin-top: 100px;
  background-color: rgb(119, 194, 119);
  width: 50%;
  margin-left: 25%;
  padding: 6px;
  border-radius: 10px;

  h3{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  label{
    font-size: 1.2rem;
  }

  .error-message{
    margin-top: 30px;
    color: red;
  }

  form{
    @include flexColumn();

    .container-login{
      margin-top: 20px;

      input{
        text-align: center;
        padding: 3px;
        border-radius: 20px;
        font-size: 1.1rem;
        border: 1px solid;
      }
    }

    button{
      margin-top: 35px;
      padding: 5px;
      font-size: 1.1rem;
      border-radius: 15px;
      border: 1px solid;

      &:hover{
        transform: scale(1.08);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        background-color: blue;
      }

      &:active{
        opacity: 70%;
      }
    }
  }
}
