<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
=======
/* Add global styles on this file.You can also import other styles files here */
>>>>>>> Test-Branch

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
